<div class="row">
  <div class="col-md-6">
    <div class="row">
      <div class="col-xs-12">
        <h1>{{ game.name }}</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <img
          [src]="game.imagePath"
          alt="{{ game.name }}"
          class="img-responsive"
          style="max-height: 300px;">
      </div>
    </div>

    <div class="row" >
      <div class="col-xs-12">
        <hr>
        <p>{{game.description}}</p>
      </div>
    </div>
    <div class="row" >
      <div class="col-xs-12">
        <hr>
        <p>Creator: {{game.creators}}</p>
      </div>
    </div>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-md-6">
    <app-character-item
      *ngFor="let characterEL of game.characters"
      [character]="characterEL"

      (characterSelected)="onGameSelected(characterEL)">
    </app-character-item>
  </div>
  <div class="col-md-6">
    <app-character-detail
      *ngIf="character; else info"
      [character]="character"></app-character-detail>
    <ng-template #info>
      <p>Select an character for more information</p>
    </ng-template>
  </div>

</div>


