<div class="col-md-8 col-md-offset-2 contentStyle itemStyle ">

  <button type="button" class="btn btn-danger" (click)="onCancel()">Go back</button>
  <div class="row">
  <div class="col-md-12">
    <div class="row">
      <div class="col-xs-12 text-center">
        <h1>{{ game.name }}</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <img
          [src]="game.imagePath"
          alt="{{ game.name }}"
          class="img-responsive"
          style="max-height: 300px; margin-left: auto; margin-right: auto;">
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <strong>Genre:</strong>
        {{ game.genre }}
      </div>
    </div>
    <div class="row">
      <div class="col-xs-5">
        <strong>Game Platforms:</strong>
        <ul class="list-group">
          <li
            class="list-group-item"
            *ngFor="let platform of game.platforms">
            {{ platform.name }}
          </li>
        </ul>
      </div>
    </div>
    <div class="row" >
      <div class="col-xs-12">
        <hr>
        <strong>Description:</strong>
        {{game.description}}
      </div>
    </div>
    <div class="row" >
      <div class="col-xs-12">
        <hr>
        <strong>Creator:</strong>
          {{game.creators}}
      </div>
    </div>
  </div>
</div>
</div>


<div class="row col-md-12 col-md-offset-0 contentStyle" style="margin-top: 30px">
  <div class="col-md-6">
    <h1>Characters</h1>
    <h5>Select an character for more information</h5>
    <button routerLink="/games/editCharacter/{{game._id}}/" class="btn btn-primary"><span class="glyphicon glyphicon-plus iconButton"></span>Add Character</button>
    <app-character-item
      *ngFor="let characterEL of game.characters"
      [character]="characterEL"
      [gameId]="game._id"
      [index]="i"
      (characterSelected)="onGameSelected(characterEL)">
    </app-character-item>
  </div>
  <div class="col-md-6">
    <app-character-detail
      *ngIf="character; else info"
      [character]="character"
      [gameId]="game._id"
    ></app-character-detail>
    <!--<ng-template #info>-->
      <!--<p>Select an character for more information</p>-->
    <!--</ng-template>-->
  </div>
<hr>

<div class="row">
  <div class="col-md-12">
    <h1>Related Games</h1>
    <ul id="ul">
      <ng-container *ngFor="let gameEl of relGame">
        <li *ngIf="gameEl._id != game._id"  id="li"><app-rel-game-item
          [gameRel]="gameEl">
        </app-rel-game-item></li>
      </ng-container>
    </ul>

  </div>
</div>
</div>

