.contentStyle {
  /*-webkit-box-shadow: 2px 5px 15px 1px #808080;*/
  /*box-shadow: 2px 5px 15px 1px #808080;*/
  -webkit-border-radius: 15px 15px;
  border-radius: 15px 15px;
  background: linear-gradient(to right, rgba(245,245,245,0.8), rgba(245,245,245,0.8));
}

.itemStyle {
  /*-webkit-box-shadow: 2px 2px 2px 1px #808080;*/
  /*box-shadow: 2px 2px 2px 1px #808080;*/
}

ul {
  list-style-type: none;
}
