
<a
  style="cursor: pointer;"
  (click)="onSelected()"
  routerLinkActive="active"
  class="col-md-12 list-group-item clearfix itemspace itemStyle">
  <div class="pull-right">
    <h4 class="list-group-item-heading">{{ character.name }}</h4>
    <p> </p>
  </div>
  <span class="pull-left">
        <img
          [src]="character.imagePath"
          alt="{{ character.name }}"
          class="img-responsive img-rounded"
          style="max-height: 50px;">
      </span>
  <div class="col-sm-1">
    <button routerLink="/games/editCharacter/{{gameId}}/{{character._id}}" class="btn btn-primary">Edit</button>
  </div>
</a>

