.filterSpace{
  margin-top: 15px;
}

.filterSpacing{
  margin-top: 30px;
}

.iconButton {
  margin-right: 5px;
}

/*.itemStyle {*/
  /*-webkit-box-shadow: 2px 2px 2px 1px #808080;*/
  /*box-shadow: 2px 2px 2px 1px #808080;*/
/*}*/

div{
  font-family: Verdana;
}
