<h1>Welcome to my website!</h1>

<div class="row marginAddSection" >
  <div class="col-xs-12">
    <h4>Can't find your game? Add it now!</h4>
    <button class="btn btn-primary" (click)="onNewGame()"><span class="glyphicon glyphicon-plus iconButton"></span>Add new game</button>


<h4>Search for your game</h4>

    <div>
      <div class="col-md-4" style="margin-top: 23px;">
        <p class="pull-right">Game Title: </p>
      </div>
      <div class="col-md-8 filterSpacing">
        <input class="pull-left form-control" type="text" [(ngModel)]="filteredStatus" placeholder="Search for game..."  >
      </div>
    </div>

    <div>
      <div class="col-md-4" style="margin-top: 23px;">
        <p class="pull-right">Game Genre: </p>
      </div>
      <div class="col-md-8 filterSpacing">
        <input class="pull-left form-control" type="text" [(ngModel)]="filteredGenre" placeholder="Search for genre..."  >
      </div>
    </div>

    <div>
      <div class="col-md-4" style="margin-top: 23px;">
        <p class="pull-right">Game Creator: </p>
      </div>
      <div class="col-md-8 filterSpacing">
        <input class="pull-left form-control" type="text" [(ngModel)]="filteredCreator" placeholder="Search for creator..."  >
      </div>
    </div>
  </div>
</div>
<hr>
<div class="row itemspace">
  <div class="col-xs-12">
    <app-game-item
      *ngFor="let gameEl of games | filter:filteredStatus:'name' | filter:filteredGenre: 'genre' | filter:filteredCreator: 'creators' ; let i = index"
      [game]="gameEl"
      [index]="i"></app-game-item>
  </div>
</div>

